<div class="widgets">

    <div class="row">
        <div class="col-md-12">
            <div ba-panel ba-panel-title="Proposals" ba-panel-class="with-scroll">
                <div class="add-row-editable-table">
                    <button class="btn btn-primary" ng-click="addProposal()">Add Proposal</button>
                </div>
                <table class="table table-bordered table-hover table-condensed">
                    <tr>
                        <td>ID</td>
                        <td>Title</td>
                        <td>Idea</td>
                        <td>Location</td>
                        <td>Latitude</td>
                        <td>Longitude</td>
                    </tr>
                    <tr ng-repeat="pro in proposals" class="editable-row">
                        <td>
                            {{$index}}
                        </td>
                        <td>
                            <span editable-text="pro.name" e-name="name" e-form="rowform" e-required>
                                {{ pro.title || 'empty' }}
                            </span>
                        </td>
                        <td class="select-td">
                            <span editable-select="pro.status" e-name="status" e-form="rowform" e-selectpicker e-ng-options="s.value as s.text for s in statuses">
                                {{ showStatus(pro) }}
                            </span>
                        </td>
                        <td class="select-td">
                            <span editable-select="pro.group" e-name="group" onshow="loadGroups()" e-form="rowform" e-selectpicker e-ng-options="g.id as g.text for g in groups">
                                {{ showGroup(pro) }}
                            </span>
                        </td>
                        <td>
                            <form editable-form name="rowform" ng-show="rowform.$visible" class="form-buttons form-inline" shown="inserted == pro">
                                <button type="submit" ng-disabled="rowform.$waiting" class="btn btn-primary editable-table-button btn-xs">
                                    Save
                                </button>
                                <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" class="btn btn-default editable-table-button btn-xs">
                                    Cancel
                                </button>
                            </form>
                            <div class="buttons" ng-show="!rowform.$visible">
                                <button class="btn btn-primary editable-table-button btn-xs" ng-click="rowform.$show()">Edit</button>
                                <button class="btn btn-danger editable-table-button btn-xs" ng-click="removeProposal($index)">Delete</button>
                            </div>
                        </td>
                    </tr>
                    <tfoot>
                        <tr>
                            <td colspan="6" class="text-center">
                                <div st-pagination="" st-items-by-page="smartTablePageSize" st-displayed-pages="5"></div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>